<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Page</title>
</head>
<body>
    <form id="logIn" method="post">
        <fieldset>
            <legend>LogIn</legend>
            <div>
                <label>Enter Email</label>
                <input name="email" type="email" placeholder="Email">
            </div>
            <div>
                <label>Enter Password</label>
                <input name="password" type="password" placeholder="password">
            </div>
            <input type="submit" value="Log In">
        </fieldset>
    </form>
    <button id="forgotPassword">Forgot Password?</button>
    <form id="ifForgetten" hidden>
        <p>Enter your email to send a reset password link to it.</p>
        <input type="email" name="email" id="emailFor" placeholder="Enter Email">
        <input type="submit" value="Enter email">
    </form>
    <p id="resMessage"></p>
    <script src="./../Scripts/LoggingIn.js"></script>
</body>
</html>