<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Page</title>
</head>
<body>
    <form action="https://expert-tribble-jv7qv746jvw2v7v-3000.app.github.dev/api/v1/auth/logIn" method="POST">
        <fieldset>
            <legend>LogIn</legend>
            <div>
                <label>Enter Email</label>
                <input name="email" type="email" placeholder="Email">
            </div>
            <div>
                <label>Enter Password</label>
                <input name="password" type="password" placeholder="password">
            </div>
            <input type="submit" value="خش هتجيبك">
        </fieldset>
    </form>
</body>
</html>