<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reset Password Page</title>
        <link rel="icon" type="image/x-icon" href="./../img/favicon.png">
    </head>
    <body>
        <h2 >Enter New Password</h2>
        <form id="ResetPassword">
            <input type="password" name="password" id="password" placeholder="New Password">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <input type="submit" value="Reset">
        </form>
        <p id="resMessage"></p>
        <script src="./../Scripts/ResettingPassword.js"></script>
    </body>
</html>