<!DOCTYPE html>
<html>
<head>
    <title>Set Up Diet</title>
    <meta charset="UTF-8"> 
</head>
<body>
    <form  id="myForm" action="https://expert-tribble-jv7qv746jvw2v7v-3000.app.github.dev/api/v1/users/setUpDiet" method="POST" >
        <fieldset>
            <legend>Enter Dietary Requirements</legend>
            <div>
                <label for="weight">Weight</label>
                <input type="number" id="weight" value="70" name="weight">
            </div>
            <div>
                <label for="height">Height</label>
                <input type="number" id="height" value="170" name="height">
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" id="age"  value="18" name="age">
            </div>
            <div>
                <label for="gender">gender:</label>

                <input  selected type="radio" id="gender" value="male" name="gender">
                <label for="g1">male</label>
                <input type="radio" id="g2" value="female" name="gender">
                <label for="g2">female</label>
            </div>
            <div>
                <label for="goal">Goal</label>
                <select name="goal" id="goal">
                    <option value="lose">Lose</option>
                    <option selected value="maintain">Maintain</option>
                    <option value="gain">Gain</option>
                </select>
            </div>
            <div>
                <label for="exer">Days Exercising</label>
                <input type="range" min="0" max="7" name="daysWorkingOut" id="exer" value="0">
            </div>
            
            <input type="submit" value="خش هتجيبك">
        </fieldset>
    </form>
    <script src="../Scripts/SettingUp.js"></script> 
    <p id="responseMessage"></p>
    
</body>
</html>