<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <form id="SignUp">
        <fieldset>
            <legend>Sign Up</legend>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Username" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="amoory123@example.com" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="111" required>
            </div>
            <div>
                <label for="confirmPass">Confirm Password</label>
                <input type="password" id="confirmPass" name="confirmPassword" placeholder="111" required>
            </div>
            <div>
                <label>Type "mama" to be admin</label>
                <input type="text" id="admin" name="admin" placeholder="mama">
            </div>
            <!-- <input id='roles' type="text" name="roles" hidden>  -->
            <input type="submit" value="Sign Up">
        </fieldset>
    </form>

    <img src="../img/Umar.PNG" alt="Umar's Forma" title="Sexy as hell">
    <a href="LogIn.html">Already Have An Account?</a>
    <p id="resMessage"></p>
    <script src="./../Scripts/SigningUp.js"></script>
</body>
</html>