<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <form action="https://expert-tribble-jv7qv746jvw2v7v-3000.app.github.dev/api/v1/auth/signUp" method="POST">
        <fieldset>
            <legend>3mk Fullstack Engineer</legend>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="اسم حضرتك" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="amoory123@example.com" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="111" required>
            </div>
            <div>
                <label for="confirmPass">Confirm Password</label>
                <input type="password" id="confirmPass" name="confirmPassword" placeholder="111" required>
            </div>
            <input type="submit" value="خش هتجيبك">
        </fieldset>
    </form>

    <img src="../img/Umar.PNG" alt="Umar's Forma" title="Sexy as hell">
    <a href="LogIn.html">Already Have An Account?</a>
</body>
</html>